* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 650px;
    background: url(../static/banner.jpg), rgba(0, 0, 0, 0.4);
    background-position: center;
    background-blend-mode: overlay;
}

.line-break {
    width: 100%;
    height: 10px;
    background-color: grey;
}