@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-rendering: geometricPrecision;
}

.html, body {
    background-color: black;
}

.container {
    margin: auto;
    width: 65%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 45em;
    background: url(../static/banner.jpg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)) ;
    background-position: center;
    background-blend-mode: overlay;
}

.banner-text > * {
    margin: 0.8rem 0;
}

.logo img {
    filter: contrast(125%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    padding: 8px 15px;
    font-size: 14px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    text-align: center;
}

.text-field {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.btn-lg {
    width: 300px;
    padding: 1rem;   
    font-size: 23px; 
    margin-left: 0.5rem;
    font-weight: lighter;
}

.form-group {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    align-self: center;
}

.field {
    position: relative;
    display: flex;
    width: 25rem;
    width: 100%;
}

.placeholder {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.placeholder-sm {
    font-size: 12px;
    top: 25%;
}

.field-label {
    text-align: center;
}

.line-break {
    width: 100%;
    height: 8px;
    background-color: rgb(30, 30, 30);
    position: absolute;
    left: 0;
    right: 0;
}

/* Section */

.section {
    display: flex;
    align-items: center;
    padding: 5rem 0;
    text-align: left;
}

.section-text > * {
    margin: 0.8rem 0;
}

.section-reverse {
    padding: 5rem;
    justify-content: left;
}

.text-hidden {
    display: none;
}

.text-visible {
    display: block;
}

.section-img > img {
    width: 600px;
}

/* FAQ Section */

.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
}

.faq-section .heading {
    align-self: center;
    margin-bottom: 1rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    transition: all 0.15s ease-in-out;
}

.accordion-outer {
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.accordion-outer:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
}

.accordion-inner {
    background-color: rgb(40, 40, 40);
    padding: 1.5rem;
    height: fit-content;
    max-height: 1000px;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
}

.accordion-hidden {
    max-height: 0;
    padding: 0 1.5rem;
    overflow: hidden;
}

/* Footer */

footer {
    margin: 5rem 0;
}

.footer-grid {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.footer-grid li {
    list-style: none;
    font-size: 14px;
}

.dropdown {
    margin: 2rem 0;
    font-size: 16px;
    padding: 0.2rem 1rem;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.1);
    font-weight: 100;
}

.dropdown-option {
    font-size: 14px;
}

/* Global */

.btn {
    background-color: rgb(224, 0, 0);
    color: white;
    border: 0;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgb(180, 0, 0);
    cursor: pointer;
}

.heading {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    filter: drop-shadow(0 1px 1px black);
}

.para {
    font-size: 25px;
    filter: drop-shadow(0 1px 1px black);
}

.link {
    text-decoration: underline;
    color: rgb(160, 160, 160);
}

.link:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Media Query */

@media screen and (max-width: 1400px) {

    .container {
        width: 80%;
    }

    .heading {
        font-size: 48px;
    }

    .btn {
        font-weight: bold;
    }
}

@media screen and (max-width: 1280px) {

    .container {
        width: 100%;
    }

    .section {
        margin: 0 1.5rem;
    }

    .faq-section {
        margin: 0 1.5rem;
    }

    .nav {
        margin: 0;
    }

    .nav-btn {
        margin-right: 1rem;
    }

    footer {
        margin: 5rem 1.5rem;
    }
}

@media screen and (max-width: 960px) {

    .banner-text .heading {
        margin: 0 1rem;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }

    .heading {
        font-size: 35px;
        text-align: center;
    }

    .para {
        font-size: 20px;
    }

    .text-hidden {
        display: block;
    }

    .text-visible {
        display: none;
    }

    .section-reverse {
        padding: 1.5rem 0;
    }

    .break {
        display: none;
    }

    .section-img > img {
        width: 100%;
        height: auto;
    }

    .field-label {
        font-size: 16px;
    }

}

@media screen and (max-width: 690px) {

    .form-group {
        flex-direction: column;
        width: 80%;
    }

    .form-group > * {
        margin: 0.5rem 0;
    }

    .btn-lg {
        font-size: 20px;
        font-weight: normal;
        width: 200px;
    }
    
}

@media screen and (max-width: 500px) {
    
    .plus {
        width: 30px;
    }

    .minus {
        width: 30px;
    }
}